@import '../abstracts/variables';
@import '../abstracts/mixins';
/* FORMULARIO */
.btn {
    @include form-styles;
    border: 1px solid $bg-post;
    cursor: pointer;
}
.btn__registro {
    color: #fff;
    background-color: $bg-green;
    transition: all 0.25s ease;
    &:hover {
        background-color: $bg-green-hover;
    }
}
.btn__google {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: $bg-btn-google;
    transition: all 0.25s ease;
    color: $primary-color;
    &:hover {
        background-color: $bg-post;
    }
}
.img__google {
    width: 30px;
}

/* SUBSCRIBETE */
.btn__suscribete {
    background-color: $bg-post;
    color: $primary-color;
    @include respond-to(small){
        margin: 0;
    }
}