@import '../abstracts/mixins';
@import '../abstracts/variables';

.main__novedades,
.main__populares {
    @include set-margin(50px,50px);
}

.novedades__content,
.populares__content {
    display: flex;
    gap: 30px;
}
.novedades__content {
    @include respond-to(small){
        flex-direction: column;
    }
}
.populares__content {
    @include respond-to(small){
        justify-content: center;
    }
}

/* ASIDE */
.content__aside {
    width: 100%;
    margin-top: 30px;
}

/* POPULARES */
.populares__box {
    display: flex;
    @include respond-to(small){
        flex-direction: column;
    }
}

.populares__content {
    flex-wrap: wrap;
    @include set-margin(50px,50px);
}

/* CATEGORIAS */
.categorias {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.categorias__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
}


/* SUSCRIPCION */
.article__title--form {
    color: $secondary-color;
    @include respond-to(small){
        text-align: center;
    }
}
.suscripcion {
    background-color: $bg-green;
    padding: 50px;
    border-radius: 15px;
    margin: 50px 0;
    @include respond-to(small){
        padding: 15px;
    }
}
.form__title {
    margin: 10px;
    width: 60%;
    @include respond-to(small){
        width: 100%;
        margin: 10px auto;
    }
}
.form__content {
    display: flex;
    align-items: center;
    gap: 30px;
    @include respond-to(small){
        flex-direction: column;
    }
}
.content__input {
    min-width: 60%;
    @include respond-to(small){
        min-width: 100%;
    }
}
.content__button {
    @include respond-to(small){
        width: 100%;
    }
}